.calendar-container{
    /* width: 100%; */
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 0px black;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.calendar-title-and-buttons{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 30px);
    grid-template-rows: 22px;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}
.calendar-title{
    grid-column: span 4;
    justify-self: start;
}
.calendar-button{
    width: 30px;
    height: 22px;
}
.arrow-left{
    width: 0;
	height: 0;
	border-top: 8px solid  transparent; 
	border-bottom: 8px solid  transparent; 
	border-right: 13.8564064px solid black;  
    /* (8px + 8px) * 0.8660254 = 13.8564064px = EquilateralTriangle height */
    margin: auto;
    margin-top: 3px;
}
.current-circle{
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 100%;
    margin: auto;
    margin-top: 5px;
}
.arrow-right{
    width: 0;
	height: 0;
	border-top: 8px solid  transparent; 
	border-bottom: 8px solid  transparent; 
	border-left: 13.8564064px solid black;  
    /* (8px + 8px) * 0.8660254 = 13.8564064px = EquilateralTriangle height */
    margin: auto;
    margin-top: 3px;
}
.calendar-table{
    display: grid;
    grid-template-columns: repeat(7, 30px);
    grid-template-rows: none;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    grid-auto-rows: 36px;
}
.calendar-cell-number{
    position:relative;
}
.calendar-cell-number span{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 30px;
}
.calendar-cell-today{
    color: white;
    text-shadow: 
    -1px -1px 0px black,
    0px -1px 0px black,
    1px -1px 0px black,
    -1px  0px 0px black,
    1px  0px 0px black,
    -1px  1px 0px black,
    0px  1px 0px black,
    1px  1px 0px black;
}
.calendar-covid-testing-day-green{
    background-color: var(--acid-green);
    width: 28px;
    height: 28px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}