@font-face {
    font-family: "Nunito Sans";
    src: local("Nunito Sans"),local("NunitoSans-Black"),
    url(/NunitoSans-Black.ttf);
    font-weight: 900;
}
:root{
    --acid-green: #99EA67;
    --acid-pink: #FFC0D7;
}
body{
    background-color: white;
    font-weight: 900;
    color: black;
    margin: 0;
}
#root{
    padding: 24px;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    max-width: 480px;
    margin: auto;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer{
    position: absolute;
    left: 24px;
    bottom: 24px;
}
footer a{
    color: black;
    text-decoration: none;
}
h1{
    font-family: 'Hiragino Kaku Gothic Pro';
    font-size: 72px;
    line-height: 100%;
    margin: 0;
}
p{
    margin: 0;
}
.hiragino-16{
    font-family: "Hiragino Kaku Gothic Pro","SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 16px;
}
.hiragino-10{
    font-family: "Hiragino Kaku Gothic Pro","SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 10px;
}
.futura-16{
    font-family: "Futura","Nunito Sans","Hiragino Kaku Gothic Pro","SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 900;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.legend{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}
.circle{
    background-color: var(--acid-green);
    border-radius: 100%;
    width: 16px;
    height: 16px;
}           
.wechat-open-graph{
    width: 200px;
    height: 200px;
    background-image: url("https://kittytang02.github.io/suanleme/pics/open-graph.png");
    background-size: 200px 200px;
}